BOT_and_PiranhaESP32/BOT_and_PiranhaESP32.pyproj
BOT_and_PiranhaESP32/BOT_and_PiranhaESP32.slnx
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32/CopilotIndices/18.0.925.419/SemanticSymbols.db
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32/CopilotIndices/18.0.925.419/CodeChunks.db
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32.slnx/v18/DocumentLayout.json
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32.slnx/v18/DocumentLayout.backup.json
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32.slnx/v18/.suo
BOT_and_PiranhaESP32/.vs/BOT_and_PiranhaESP32.slnx/FileContentIndex/7ddc075f-fb82-41e3-b97b-44b178595426.vsidx
